<!DOCTYPE html>
<html lang="en">
{% from 'navbar.html' import navbar %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/a6cd03cfd2.js" crossorigin="anonymous"></script>
  <style>
    .main {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .sectionBase {
      flex: 1;
    }
  </style>
  <title>{% block title %} {% endblock %}</title>
</head>

<body class="main">

  <div class="container is-fluid sectionBase">
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </div>
  <footer class="footer is-fixed-bottom">
    <div class="content has-text-centered">
      <p>Application created by some ATS developer for their Brutal Magic competition</p>
      <p>Joachim Lejeune</p>
      <p>Gilles Rosier</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"
    integrity="sha256-1aBe6q/4Wh173Ujj/I4uL8w2k5ypeviG1XNs1FfPqKw=" crossorigin="anonymous"></script>
</body>

</html>