<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  {% block css %}{% endblock %}
  <script src="https://kit.fontawesome.com/a6cd03cfd2.js" crossorigin="anonymous"></script>
  <script src="projet/static/js/navbar.js"></script>
  <style>
    .main {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .sectionBase {
      flex: 1;
    }
  </style>
  <title> Elo Ranking System </title>
</head>

<body class="main">
  {% from 'navbar.html' import navbar %}
  {{ navbar() }}
  <h1 class="title has-text-centered m-4" input type="text"> Elo Ranking System </h1>
  <div class="container is-fluid" style="">
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </div>
  <footer class="footer is-fixed-bottom" style="padding: 0.5rem">
    <div class="content has-text-centered">
      <p>Application created by some ATS developer for their Brutal Magic competition</p>
      <p>
        <strong> Christopher </strong> /
        <strong> Gilles </strong> /
        <strong> Joachim </strong> /
        <strong> Julien Laurent </strong> /
        <strong> Julien Lejeune </strong>
      </p>
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.4.1/dist/bulma-toast.min.js"
    integrity="sha256-1aBe6q/4Wh173Ujj/I4uL8w2k5ypeviG1XNs1FfPqKw=" crossorigin="anonymous"></script>
</body>

</html>