{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/league.css') }}"/>
{%  endblock %}

{% block script %}
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="content has-text-centered m-4">
    <h3>Bienvenue sur la page d'acceuil</h3>
    <p>La liste ci-dessous reprends les 5 derniers matchs joués</p>
  </div>
</div>
<div class="container">
  <div class="content has-text-centered m-4">
    <a class="button is-success " href="{{url_for('new_match')}}">
      Nouveau match
    </a>
    <a class="button is-success" href="{{url_for('new_league')}}">
      Nouvelle League
    </a>
    <form method="GET" action="/">
      <table class="table">
      <thead>
        <tr>
          <th>League</th>
          <th>Joueur 1</th>
          <th>Nom du deck Joueur 1</th>
          <th>Joueur 2</th>
          <th>Nom du deck Joueur 2</th>
          <th>Vainqueur</th>
          <th>Action rapide</th>
        </tr>
      </thead>
        {% for item in matches_fetched %}
        <tbody>
          <td value="{{ item[0][0] }}">
              {{ item[0][1] }}
          </td>
          <td value="{{ item[1][0] }}">
              {{ item[1][1] }}
          </td>
          <td value="{{ item[2][0] }}">
              {{ item[2][1] }}
          </td>
          <td value="{{ item[3][0] }}">
              {{ item[3][1] }}
          </td>
          <td value="{{ item[4][0] }}">
              {{ item[4][1] }}
          </td>
          <td value="{{ item[5][0] }}">
              {{ item[5][1] }}
          </td>
        <td>
          <a class="button is-success" href="{{url_for('new_match') }}">Réencoder</a>
        </td>
        </tbody>
        {% endfor %}
      </table>
    </form>
  </div>
</div>
{% endblock %}