{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/league.css') }}"/>
{%  endblock %}

{% block content %}
<div class="container">
    <div class="content has-text-centered m-4">
        <p>League page</p>
    </div>
</div>
<div class="box m-4">
    <div class="content has-text-centered ">
        <!--    <button class="button is-text">Nouvelle league</button>-->
        <form method="POST" action="/league">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="league" id="dropdown-league-choice-button">
                            <option value="">Choix de la league</option>
                            {% for item in leagues %}
                            <option value="{{ item.id }}">
                                {{ item.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <button class="button is-primary m-4">
                            Charger
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="box m-4" style="display: flex">
    <div class="box m-4" style="width: 33%">
        <div class="content has-text-centered ">
            <table class="table is-narrow is-striped">
                {% for item in rankings_html %}
                <tbody>
                <td value="{{ item.name }}">
                    {{ item[0] }}
                </td>
                <td value="{{ item.elo }}">
                    {{ item[1] }}
                </td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="box m-4" style="flex: 1">
        <div class="content has-text-centered ">
            <table class="table is-narrow is-striped">
                {% for item in ratio_win_lose_html %}
                <tbody>
                <td value="{{ item.name }}">
                    {{ item[0] }}
                </td>
                <td value="{{ item.win }}">
                    {{ item[1] }} (win)
                </td>
                <td value="{{ item.lose }}">
                    {{ item[1] }} (lose)
                </td>
                <td value="{{ item.ratio }}">
                    {{ item[1] / item[1] }}
                </td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}