{% macro navbar() %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu is-active" style="display:flex">
    <div class="navbar-start" style="flex: 1">
      <ul style="width: 25%">
        <li>
          <a class="navbar-item" href="{{url_for('index')}}">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span>Home</span>
            </span>
          </a>
        </li>
        <li>
          <a class="navbar-item" href="{{url_for('index')}}">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-trophy"></i></span>
              <span>League</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div>
          <a class="button is-light" href='{{url_for("index")}}'>
            Log out
          </a>
          <a class="button is-light" href='{{url_for("index")}}'>
            Log in
          </a>
          <a class="button is-light" href='{{url_for("index")}}'>
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endmacro %}