{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_match.css') }}"/>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/new_match.js')}}"></script>
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Nouveau match 1 vs 1</h3>
    <div class="box">
        <form method="POST" action="/new_match">

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="league" id="dropdown-league-choice-button">
                            <option value="">Choix de la league</option>
                            {% for item in leagues %}
                            <option value="{{ item.id }}">
                                {{ item.label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input"
                           type="date"
                           value="start_date"
                           name="start_date"
                           id="new_match_start_date_id"
                           placeholder="Date de début de la league"
                    />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="player_1" id="dropdown-player-1-button">
                            <option value="">Joueur 1</option>
                            {% for item in players %}
                            <option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                        <select name="deck_player_1" id="dropdown-deck-player-1-button">
                            <option value="">Deck du Joueur 1</option>
                            {% for item in decks %}
                            <option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="player_2" id="dropdown-player-2-button">
                            <option value="">Joueur 2</option>
                            {% for item in players %}
                            <option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                        <select name="deck_player_2" id="dropdown-deck-player-2-button">
                            <option value="">Deck du Joueur 2</option>
                            {% for item in decks %}
                            <option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="winner" id="dropdown-winner-button">
                            <option value="">Vainqueur</option>
                            {% for item in players %}
                            <option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <button class="button is-block is-info  is-fullwidth">
                Ajouter
            </button>
        </form>
    </div>
</div>
{% endblock %}