{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_match.css') }}"/>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/new_match.js')}}"></script>
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Nouveau match 1 vs 1</h3>
    <div class="box">
        <form method="POST" action="/new_match">

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="leagues" id="dropdown-league-choice-button" onclick="searchLeague()">
                            <option value="">Choix de la league</option>
                            {% for item in leagues %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="players1" id="dropdown-player-1-button">
                            <option value="">Joueur 1</option>
                            {% for item in players %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                        <select name="players1" id="dropdown-deck-player-1-button">
                            <option value="">Deck du Joueur 1</option>
                            {% for item in players %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="players1" id="dropdown-player-2-button">
                            <option value="">Joueur 2</option>
                            {% for item in players %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                        <select name="players1" id="dropdown-deck-player-2-button">
                            <option value="">Deck du Joueur 2</option>
                            {% for item in players %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

             <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="leagues" id="dropdown-winner-button">
                            <option value="">Vainqueur</option>
                            {% for item in players %}
                                <option value="{{ item }}">
                                    {{ item }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
<!--            <div class="field">-->
<!--                <div class="control">-->
<!--                    <div class="dropdown">-->
<!--                        <div class="dropdown-trigger">-->
<!--                            <button class="button" aria-haspopup="true" id="dropdown-player-1-button" aria-controls="dropdown-menu-player"-->
<!--                                    onclick="toggleDropdown()">-->
<!--                                <span>Joueur 1</span>-->
<!--                                <span class="icon is-small">-->
<!--                                  <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="dropdown-menu" id="dropdown-player-1" role="menu">-->
<!--                            <div class="dropdown-content">-->
<!--                                <div class="dropdown-item">-->
<!--                                    <p>Joachim</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="dropdown">-->
<!--                        <div class="dropdown-trigger">-->
<!--                            <button class="button" aria-haspopup="true" id="dropdown-deck-player-1-button" aria-controls="dropdown-menu-player"-->
<!--                                    onclick="toggleDropdown()">-->
<!--                                <span>Deck du Joueur 1</span>-->
<!--                                <span class="icon is-small">-->
<!--                                  <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="dropdown-menu" id="dropdown-deck-player-1" role="menu">-->
<!--                            <div class="dropdown-content">-->
<!--                                <div class="dropdown-item">-->
<!--                                    <p>Urza</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <div class="control">-->
<!--                    <div class="dropdown">-->
<!--                        <div class="dropdown-trigger">-->
<!--                            <button class="button" aria-haspopup="true" id="dropdown-player-2-button" aria-controls="dropdown-menu-player"-->
<!--                                    onclick="toggleDropdown()">-->
<!--                                <span>Joueur 2</span>-->
<!--                                <span class="icon is-small">-->
<!--                                  <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="dropdown-menu" id="dropdown-player-2" role="menu">-->
<!--                            <div class="dropdown-content">-->
<!--                                <div class="dropdown-item">-->
<!--                                    <p>Julien Lejeune</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="dropdown">-->
<!--                        <div class="dropdown-trigger">-->
<!--                            <button class="button" aria-haspopup="true" id="dropdown-deck-player-2-button" aria-controls="dropdown-menu-player"-->
<!--                                    onclick="toggleDropdown()">-->
<!--                                <span>Deck du Joueur 2</span>-->
<!--                                <span class="icon is-small">-->
<!--                                  <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="dropdown-menu" id="dropdown-deck-player-2" role="menu">-->
<!--                            <div class="dropdown-content">-->
<!--                                <div class="dropdown-item">-->
<!--                                    <p>Zombies</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <div class="control">-->
<!--                   <div class="dropdown">-->
<!--                        <div class="dropdown-trigger">-->
<!--                            <button class="button" aria-haspopup="true" id="dropdown-winner-button" aria-controls="dropdown-menu-player"-->
<!--                                    onclick="toggleDropdown()">-->
<!--                                <span>Vainqueur</span>-->
<!--                                <span class="icon is-small">-->
<!--                                  <i class="fas fa-angle-down" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                       <div class="dropdown-menu" id="dropdown-winner" role="menu">-->
<!--                            <div class="dropdown-content">-->
<!--                                <div class="dropdown-item">-->
<!--                                    <p>Joachim</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <button class="button is-block is-info  is-fullwidth" type="submit" onclick="onNewCreatedMatch()">
                Ajouter
            </button>
        </form>
    </div>
</div>
{% endblock %}